.section-footer{
    padding: 0 auto;
}

.corp-container{
    padding: 0 auto;
    text-align: justify;
    margin: 10px auto;
    color: white;
}

.corp-tittle{
    font-size: 48px;
    font-weight: 600;
}

.corp-social{
    padding-left: 60%;
}