.home .slideshow .slide1 {
    background-image: url(https://source.unsplash.com/1000x750);
    animation: 20s slides-set-1 -0.1s infinite;
  }
  
.home .slideshow .slide2 {
    background-image: url(https://source.unsplash.com/1001x751);
    animation: 20s slides-set-2 -0.1s infinite;
  }
.home .slideshow .slide3 {
    background-image: url(https://source.unsplash.com/1002x752);
    animation: 20s slides-set-3 -0.1s infinite;
  }